# Python
*.pyc
__pycache__/

# Environnement virtuel
.venv/

# Données locales ou volumineuses
# Ignorer tout le dossier data
data/*

# Mais garder les fichiers CSV utiles
!data/raw/
!data/outputs/
!data/cleaned/
!data/raw/*.csv
!data/cleaned/*.csv
video.mp4

# IDE / éditeurs
.vscode/
.idea/
